header, main, footer {
    background-color: #FFFEFE;
}

body {
    background-color: #FDC5C5;
}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-style: normal;
}

p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}

a {
    color: #089FE0;
    font-size: 18px;
    font-weight: 400;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-style: normal;
}

h2 {
    background-color: #F5F5F5;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-style: normal;
}

input {
    background-color: #F5F5F5;
    font-weight: 394px;
}

::placeholder {
    color: #999999;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}

button {
    background-color: #089FE0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}

label {
    color: #666666;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

